@import "smart-grid.less";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


html, body{
    margin:0;
    padding:0;
}
.wrapper{
    .wrapper();
}
img{
    max-width:100%;
}
ul{
    margin:0;
    padding:0;
}





// section-galery
.grid{
    

    .grid-item{
        
        padding:0;
        margin:0;

       img{
           max-width:100%;
       }
    } 
    
    .gl1 { min-height: 215px; max-width:492px}
.gl2 { min-height: 215px; max-width:333px}
.gl3 { min-height: 477px; max-width:265px}
.gl4 { min-height: 233px; max-width:265px}
.gl5 { max-width:560px; min-height: 233px; }
    
}


















.debugGrid{
    display:none;
    .debug(rgba(255,255,255,0.5), 1px solid #ccc);
    height:500px;
}